* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  text-align: center;
  gap: 0.7rem;
  padding: 1rem 0;
}

.hero-area {
  text-align: center;
  margin: 0 auto;
}

.hero-area h1 {
  padding: 2.5rem 0 3rem 0;
  font-size: 3rem;
}

.hero-area h3 {
  padding-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 200;
  font-style: italic;
  letter-spacing: 0.4rem;
}

.hero-images img {
  padding: 2rem 0.8rem;
  width: 20%;
  border-radius: 3rem;
}

.hero-area p {
  width: 45%;
  margin: 0 auto;
  padding: 2rem 0;
  font-size: 1.2rem;
  letter-spacing: 0.03rem;
  line-height: 2.3rem;
}

footer {
  text-align: center;
  font-weight: 600;
  /* background-color: #2f2f2f;
  color: #fff; */
  padding: 5rem 0 2rem 0;
}
